.realdolmen-blue {
    background-color: #009AD8;
}

.waves-effect .waves-ripple {
    background-color: rgba(26, 190, 255, 0.6) !important;
}

.btn, .btn-large {
    background-color: #009AD8 !important;
}

.error {
    color: #F22613;
}