.realdolmen-blue {
    background-color: #009AD8;
}

.realdolmen-red {
    background-color: #E21E25;
}

.waves-effect .waves-ripple {
    background-color: rgba(26, 190, 255, 0.6) !important;
}

.btn, .btn-large {
    background-color: #009AD8 !important;
}

.error {
    color: #F22613;
}

#toolbar-logo-wrapper {
    height: 64px;
    margin-left: 10px;
    padding-right: 20px;
}

.lookup-form input {
    margin-left: 0px !important;
}

.lookup-form i.active {
    color: #444444 !important;
}